APP_PORT=4000
APP_NAME=nestjs-skeleton
VERSION=0.01

## Docker config ##
IMAGE_NAME=nestjs-skeleton
IMAGE_NAME_DB=nestjs-skeleton-postgres
EXTERNAL_PORT=5434

#DB config ##
DB_HOST=localhost
DB_TYPE=postgresql
DB_PORT=5432
DB_NAME=nestjs-skeleton-db
DB_USER=user
DB_PASSWORD=password
DATABASE_URL=${DB_TYPE}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public

#CORS
FRONTEND_URL=

JWT_EXPIRES_IN=24h

